.header {
    height: 80vh;
    width: 75vw;
  background: url("https://framerusercontent.com/images/iP0BsyYh0IYgAchUCKTAQqclxyI.webp")
    no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
    margin-top: 1rem;
    border-radius: 60px;
}
.headercontents {
 display: flex;
 flex-direction: column;
 align-items: start;
 margin-left: 2rem;
 max-width: 50%;
 bottom: 10%;
 position: absolute;
}
